.type-1758 {
  text-align: center;
}
.type-1758 .card-product {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.type-1758 .card-product .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.type-1758 .card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}
.type-1758 .card-product .title {
  margin-top: 0;
}
.type-1758 .card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}
.type-1758 .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}
.type-1758 .card .img-wrap {
  overflow: hidden;
}
.type-1758 .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.type-1758 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.type-1758 .img-wrap {
  text-align: center;
  display: block;
}
.type-1758 .img-wrap img {
  max-width: 100%;
}
.type-1758 img {
  vertical-align: middle;
  border-style: none;
}
.type-1758 h4,
.type-1758 .h4 {
  font-size: 1.5rem;
}
.type-1758 h1,
.type-1758 h2,
.type-1758 h3,
.type-1758 h4,
.type-1758 h5,
.type-1758 h6,
.type-1758 .h1,
.type-1758 .h2,
.type-1758 .h3,
.type-1758 .h4,
.type-1758 .h5,
.type-1758 .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.type-1758 h1,
.type-1758 h2,
.type-1758 h3,
.type-1758 h4,
.type-1758 h5,
.type-1758 h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.type-1758 .mb-2,
.type-1758 .my-2 {
  margin-bottom: 0.5rem !important;
}
.type-1758 .rating-stars {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  clear: both;
}
.type-1758 .rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.type-1758 .rating-stars li.stars-active i {
  color: orange;
}
.type-1758 .rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}
.type-1758 .rating-stars i {
  font-size: 14px;
  color: #ccc;
  display: inline;
}
.type-1758 .fa,
.type-1758 .fas {
  font-weight: 900;
}
.type-1758 .fa,
.type-1758 .far,
.type-1758 .fas {
  font-family: Font Awesome \5 Free;
}
.type-1758 .fa,
.type-1758 .fab,
.type-1758 .fal,
.type-1758 .far,
.type-1758 .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.type-1758 .label-rating {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.type-1758 [class*="dlist-"] {
  margin-bottom: 5px;
}
.type-1758 .dlist-align dt {
  width: 90px;
  float: left;
  word-wrap: break-word;
}
.type-1758 dt {
  font-weight: 700;
}
.type-1758 .border-left {
  border-left: 1px solid #dee2e6 !important;
}
.type-1758 .price-new,
.type-1758 .price {
  margin-right: 5px;
}
.type-1758 .price-old {
  color: #999;
}
.type-1758 .text-success {
  color: #28a745 !important;
}
.type-1758 .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.type-1758 .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.type-1758 .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.type-1758 article.card.card-product {
  width: 809px;
}
.type-1758 .special-offer {
  display: inline-block;
  width: 153px;
  margin: 30px 15px;
}
.type-1758 .special-offer .offer-img-wrap {
  display: block;
  position: relative;
}
.type-1758 .special-offer .offer-img-wrap img {
  display: block;
  max-width: 100%;
  height: 500px;
}
.type-1758 .special-offer .offer-discount-wrap {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  overflow: hidden;
}
.type-1758 .special-offer .offer-discount {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
  height: 100px;
}
.type-1758 .special-offer .deg-30 .offer-discount {
  height: 42.3px;
}
.type-1758 .special-offer .offer-discount::before {
  width: 20px;
  height: 5px;
  bottom: -5px;
  left: -37px;
  transform: skewX(45deg);
}
.type-1758 .special-offer .offer-discount::after {
  width: 5px;
  height: 20px;
  right: -5px;
  top: -37px;
  transform: skewY(45deg);
}
.type-1758 .special-offer .offer-discount-rotate {
  position: absolute;
  z-index: 1;
  width: 500%;
  left: -200%;
  top: 50%;
  height: 40px;
  margin-top: -20px;
  line-height: 40px;
  transform: rotate(-45deg);
  font-size: 27px;
  text-align: center;
  background: indigo;
  color: white;
}
.type-1758 .special-offer .deg-30 .offer-discount-rotate {
  transform: rotate(-30deg);
}
.type-1758 .special-offer .deg-30 .offer-discount-rotate strong {
  position: relative;
  right: -14px;
}
.type-1758 .special-offer .offer-discount::before,
.type-1758 .special-offer .offer-discount::after {
  content: '';
  position: absolute;
  background: black;
}
.type-1758 a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.type-1758 .stm-featured-top-cars-title {
  margin-bottom: 25px;
  position: relative;
  padding-right: 644px;
  border-bottom: 3px solid #1bc744;
}
.type-1758 .stm-featured-top-cars-title .heading-font {
  position: relative;
  display: inline-block;
  padding: 3px 16px;
  color: #fff;
  background-color: #1bc744;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.type-1758 .stm-featured-top-cars-title a {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 13px;
  color: #777;
}
@media (min-width: 576px) {
  .type-1758 .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .type-1758 .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.type-1758 .btn-secondary {
  background-color: #999;
  color: #fff;
}
.type-1758 .btn-secondary:hover {
  background-color: #777;
}
.type-1758 .add-1758:hover {
  text-decoration: none;
}
