@color0: #CDE;
@color1: #3c77b3;
@color2: #fff;
@padding0: 100px;
@padding1: 50px;

@font_size1: 62px;

@dodai: 150px;
@dodai2: 2px;

@height1: 150px;
@width: 0.4s;
@padding-left1: 180px;
@padding-right1: 75px;
@all: 0.2s;